{% extends "dolphin/base.html" %}
{% load static %}
{% block ipa %}

<div class="search-container">
    <!-- Breadcrumb navigation -->
    <nav class="breadcrumb">
        <a href="#" class="breadcrumb__link">All topics</a>
        <span class="breadcrumb__separator">/</span>
        <span class="breadcrumb__current">IPA</span>
    </nav>

    <!-- Header section -->
    <header class="header">
        <h1 class="header__title">IPA</h1>
        
        <!-- Search form -->
        <form class="search-form">
            <input type="text" class="search-form__input" placeholder="Search">


            <button type="submit" class="search-form__button">OK</button>
        </form>
    </header>
</div>



<!-- Sections -->
<div class="ipa_container">
    <!--<h2>IPA</h2>-->
    <div class="lesson-grid">
        {% for ipa in ipas %}
            <div class="lesson-box">
                <span class="star">☆</span>
                <a href="{{ ipa.link }}">{{ipa.title}}</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock ipa %}
    

