{% extends "dolphin/base.html" %}
{% load static %}
{% block listen_and_type %}
{% for exercise in exercises %}
    <div class="exercise-box" data-order="{{ exercise.order }}" data-correct="{{ exercise.correct_text }}">
        <h2>{{subtopic.title}} <span class="vocab-level">Vocab level: {{subtopic.level}}</span></h2>
            <div class="navigation">
                <button class="preBtn">←</button>
                <span class="exercise-count">{{exercise.order}} / {{exercises | length}}</span>
                <button class="nextBtn">→</button>
            </div>
            <audio controls class="playerAudio">
                <source src="{{ exercise.audio }}" type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
            <input type="text" class="userInput" placeholder="Type what you hear...">
            <div class="exercise-buttons">
                <button class="checkBtn">Check</button>
                <button class="skipBtn">Skip</button>
            </div>
    </div>
{% endfor %}
<script src="{% static 'dolphin/js/listen_and_type.js' %}"></script>
{% endblock listen_and_type %}
