<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    {% block extra_css %} 
    <link rel="stylesheet" href="{% static 'dolphin/css/admin_user/admin_dashboard.css' %}">
    {% endblock extra_css %}


</head>

<body>
    <header>
        <h1>Dolphin Administration</h1>
    </header>
    <a href="{% url 'logout' %}">Logout</a>
    <div class="dashboard-container">
        {% block navbar%}
        <div class="navbar">
            <a href="{% url 'admin_dashboard' %}">Home</a>
        </div>
        {% endblock navbar%}
        <table>
            <thead>
                <h4>Dolphin</h4>
            </thead>
            <tbody>
                {% for section, url in admin_links.items %}
                <tr>
                    <td><a href="{% url url.0 %}">{{section}}</a></td>
                    {% if section != 'Users' %}
                    <td><a href="{% url url.1 %}">Add</a></td>
                    {% endif %}
                    <td><a href="{% url url.0 %}">Update</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% for message in messages %}
        {% if 'admin' in message.tags and request.user.is_staff %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}

    <div class="main-content">
        {% block topics %}
        {% endblock topics %}
    </div>
</body>

</html>