{% extends "dolphin/admin_user/admin_dashboard.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'dolphin/css/admin_user/audios.css' %}">
{% endblock %}

{% block navbar %}
<div class="navbar">
    <a href="{% url 'admin_dashboard' %}">Home</a>
    <span></span>
    <a href="{% url 'audios' %}">Audio</a>
</div>
{% endblock navbar %}

{% block topics %}
<div class="list_audios">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>LEVEL</th>
                <th>POSITION</th>
                <th>SUBTOPIC</th>
            </tr>
        </thead>
        <tbody>
            {% for audio in audios %}
                <tr>
                    <td>{{ audio.id }}</td>
                    <td><a href="{% url 'update_audio_exercise' audio.id %}">{{ audio.subtopic.title }}</a></td>
                    <td>{{ audio.level }}</td>
                    <td>{{ audio.position }}</td>
                    <td>{{ audio.subtopic }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination">
    {% if audios.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ audios.previous_page_number }}">&lsaquo; Prev</a>
    {% endif %}

    {% for num in audios.paginator.page_range %}
        {% if num >= audios.number|add:'-3' and num <= audios.number|add:'4' %}
            {% if num == audios.number %}
                <span><strong>{{ num }}</strong></span>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if audios.has_next %}
        <a href="?page={{ audios.next_page_number }}">Next &rsaquo;</a>
        <a href="?page={{ audios.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}
</div>
{% endblock topics %}