{% extends "dolphin/admin_user/admin_dashboard.html" %}
{% load static %}

{% block navbar %}
<a href="{% url 'admin_dashboard' %}">Home</a>
    <span>></span>
    <a href="{% url 'sections' %}">Sections</a>
</div>
{% endblock navbar %}

{% block topics %}
<div class="list_sections">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>POSITION</th>
                <th>TOPIC</th>
            </tr>
        </thead>
        <tbody>
            {% for section in sections %}
                <tr>
                    <td>{{ section.id }}</td>
                    <td><a href="{% url 'update_section' section.id %}">{{ section.title }}</a></td>
                    <td>{{ section.position }}</td>
                    <td>{{ section.topic }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock topics %}