{% extends "dolphin/admin_user/admin_dashboard.html" %}

{% load static %}

{% block navbar %}
<a href="{% url 'admin_dashboard' %}">Home</a>
    <span>></span>
    <a href="{% url 'topics' %}">Topics</a>
    <span>></span>
    <a href="{% url 'update_topic' topic.id %}">{{topic.name}}</a>
</div>
{% endblock navbar %}

{% block topics %}
<h2>Update Topic:</h2>
<h3>{{ topic.name }}</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Render các trường của form -->
        <button type="submit">Save</button>
    </form>
{% endblock topics %}
    
