{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dolphin</title>
    <link rel="stylesheet" href="{% static 'dolphin/css/base.css'%}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'dolphin/css/grammar.css'%}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'dolphin/css/listen.css'%}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'dolphin/css/register.css'%}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'dolphin/css/login.css'%}?{% now 'U' %}">

    <!-- Listen View CSS -->
    <link rel="stylesheet" href="{% static 'dolphin/css/listen/ipa.css'%}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'dolphin/css/listen/spelling-names.css'%}?{% now 'U' %}">

    <!-- /Listen View CSS -->
</head>
<body>
    <header>
        <a href="{% url 'home' %}"><img id="logo" src="{% static 'dolphin/img/Logo_caheo.png' %}" alt="Logo-app"/></a>
        <div id="main-title"><a href="{% url 'home' %}">Dolphin</a></div>
        <div id="header-item">
          <div class="link-item"><a href="{% url 'listen' %}">Listen</a></div>
          <div class="link-item"><a href="{% url 'grammar' %}">Grammar</a></div>
          {% if request.user.is_authenticated %}
          <div class="link-item">
              <span class="user-info">
                  <a href="{% url 'logout' %}">Logout</a> (Hi, {{request.user.username}})
              </span>
          </div>
          {% else %}
          <div class="link-item"><a href="{% url 'login' %}?next={{ request.path }}">Login</a></div>
          <div class="link-item"><a href="{% url 'register' %}">Register</a></div>
          {% endif %}
        </div>
      </header>
    <div class="page-content">
        <div class="main-content">
            {% block home %}{% endblock home %}
            {% block listen %}{% endblock listen %}
            <!-- Listen view -->
            {% block ipa %}{% endblock ipa %}

            <!-- /Listen view -->
            {% block grammar %}{% endblock grammar %}
            {% block login %}{% endblock login %}
            {% block register %}{% endblock register %}
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-column">
                <h4>Giới thiệu</h4>
                <ul>
                <li>Phương pháp</li>
                <li>Nghiên cứu</li>
                <li>Truyền thông</li>
                <li>Liên hệ với chúng tôi</li>
                </ul>
            </div>
  
            <div class="footer-column">
                <h4>Mạng xã hội</h4>
                <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Thread</li>
                </ul>
            </div>
  
            <div class="footer-column">
                <h4>Quyền riêng tư và điều khoản</h4>
                <ul>
                <li>Nội quy diễn đàn</li>
                <li>Điều khoản</li>
                <li>Quyền riêng tư</li>
                </ul>
            </div>    
        </div>
        <div class="footer-bottom">
            © 2025 Dolphin App. Tất cả các quyền được bảo lưu.
        </div>
    </footer>
</body>
</html>