{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dolphin</title>
    <link rel="stylesheet" href="{% static 'dolphin/css/base.css'%}?{% now 'U' %}">

    {% block extra_css %} 
    <!-- All file css in this block -->
    {% endblock extra_css %}

</head>
<body>
    <header>
        <a href="{% url 'home' %}"><img id="logo" src="{% static 'dolphin/img/Logo_caheo.png' %}" alt="Logo-app"/></a>
        <div id="main-title"><a href="{% url 'home' %}">Dolphin</a></div>
        <div id="header-item">
          <div class="link-item"><a href="{% url 'listen' %}">Listen</a></div>
          <div class="link-item"><a href="{% url 'grammar' %}">Grammar</a></div>
          {% if request.user.is_authenticated %}
          <div class="link-item">
            <div class="dropdown">
                <button class="dropdown-toggle" onclick="toggleDropdown()">
                    Hi, {{ request.user.nickname }}
                </button>
                <div class="dropdown-menu" id="userDropdown">
                    <a href="{% url 'user_profile' user.id %}">Profile</a>
                    <a href="{% url 'user_account' %}">Account information</a>
                    <a href="{% url 'edit_pass' user.id %}">Change password</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
          </div>
          {% else %}
          <div class="link-item"><a href="{% url 'login' %}">Login</a></div>
          <div class="link-item"><a href="{% url 'register' %}">Register</a></div>
          {% endif %}
        </div>
    </header>
    <div class="page-content">
        <div class="main-content">
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-default{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% block content %}
                {% block backToTop %}   
                {% endblock backToTop %}
            {% endblock content %}
        </div>
    </div>
    
    <footer>
        <div class="footer-content">
            <div class="footer-column">
                <h4>Giới thiệu</h4>
                <ul>
                <li>Phương pháp</li>
                <li>Nghiên cứu</li>
                <li>Truyền thông</li>
                <li>Liên hệ với chúng tôi</li>
                </ul>
            </div>
  
            <div class="footer-column">
                <h4>Mạng xã hội</h4>
                <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Thread</li>
                </ul>
            </div>
  
            <div class="footer-column">
                <h4>Quyền riêng tư và điều khoản</h4>
                <ul>
                <li>Nội quy diễn đàn</li>
                <li>Điều khoản</li>
                <li>Quyền riêng tư</li>
                </ul>
            </div>    
        </div>
        <div class="footer-bottom">
            © 2025 Dolphin App. Tất cả các quyền được bảo lưu.
        </div>
    </footer>
<script src="{% static 'dolphin/js/script_sections.js' %}?{% now 'U' %}"></script>
<script src="{% static 'dolphin/js/listen_and_type.js' %}?{% now 'U' %}"></script>
<script src="{% static 'dolphin/js/home.js' %}?{% now 'U' %}"></script>
<script>
     function toggleDropdown() {
        var dropdown = document.getElementById("userDropdown");
        dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
    }
// Đóng menu nếu click bên ngoài
    document.addEventListener("click", function(event) {
        var dropdown = document.getElementById("userDropdown");
        var button = document.querySelector(".dropdown-toggle");

        if (!dropdown.contains(event.target) && !button.contains(event.target)) {
            dropdown.style.display = "none";
        }
    });

</script>
</body>
</html>