{% extends "dolphin/base.html" %}
{% load static %}
{% block grammar %}
<main>
    <nav class="table-of-contents" style="margin-top: 40px;">
        <h2>Mục Lục</h2>
            <ul>
                <li><a href="#overview"></a></li>
                <li><a href="#present_simple">Present Simple (Hiện tại đơn)</a></li>
                <li><a href="#present_continuous">Present Continuous (Hiện tại tiếp diễn)</a></li>
                <li><a href="#present_perfect">Present Perfect (Hiện tại hoàn thành)</a></li>
                <li><a href="#present_perfect_continuous">Present Perfect Continuous (Hiện tại hoàn thành tiếp diễn)</a></li>
                <li><a href="#past_simple">Past Simple (Quá khứ đơn)</a></li>
                <li><a href="#past_continuous">Past continous (Qúa khứ tiếp diễn)</a></li>
                <li><a href="#past_perfect">Past Perfect (Qúa khứ hoàn thành)</a></li>
                <li><a href="#past_perfect_continuous">Past Perfect Continuous (Qúa khứ hoàn thành tiếp  diễn)</a></li>
                <li><a href="#ruture_simple">Future Simple (Tương lai đơn)</a></li>
                <li><a href="#future_continuous">Future Continuous (Tương lai tiếp diễn)</a></li>
                <li><a href="#future_perfect">Future Perfect (Tương lai hoàn thành)</a></li>
                <li><a href="future_perfect_continuous">Future Perfect Continuous (Tương lai hoàn thành tiếp diễn)</a></li>
            </ul>
    </nav>

    <main>
        <section id="overview">
            <img src="https://sedu.edu.vn/public/upload/Bai-viet/tong-hop-cac-thi-tieng-anh-co-ban-cong-thuc-va-cach-dung-day-du/tong-hop-cac-thi-tieng-anh-co-ban-cong-thuc-va-cach-dung-day-du.jpg" alt="tổng quan">
        </section>
        <!-- 12 thì trong tiếng Anh -->
        <section id="present_simple" class="tense">
            <h2>Present Simple (Hiện tại đơn)</h2>
            <h3>Cách sử dụng</h3>
            <!-- <p>Thì hiện tại đơn dùng để diễn tả một hành động, một sự việc thường xuyên xảy ra hoặc được lặp đi lặp lai, hay một sự thật hiển nhiên hoặc lịch trình cố định.</p> -->
            <p>Simple present thường dùng để diễn tả hành động xảy ra thường xuyên hoặc sự thật hiển nhiên trong hiện tại. Cụ thể gồm 6 cách dùng chính sau.</p>
            <table>
                <tr>
                    <th>Cách dùng</th>
                    <th>Ví dụ</th>
                </tr>
                <tr>
                    <td>Miêu tả một sự thật hiển nhiên, một sự việc luôn đúng.</td>
                    <td>Hanoi is Vietnam’s capital city. 

                        (Hà Nội là thành phố thủ đô của Việt Nam.)</td>
                </tr>
                <tr>
                    <td>Miêu tả thói quen</td>
                    <td> I usually get up at six in the morning.
                        (Tôi thường thức dậy lúc 6 giờ sáng.)</td>
                </tr>
                <tr>
                    <td>Miêu tả những sắp xếp thời gian cố định, hoặc những kế hoạch chính thức và khả năng thay đổi rất khó </td>
                    <td>The plane take off at 8am (Máy bay cất cánh lúc 8 giờ sáng.)</td>
                </tr>
                <tr>
                    <td>Sử dụng trong câu hướng dẫn</td>
                    <td>Go North for two blocks. The hospital is around the corner. 
                        (Đi về hướng Bắc qua hai dãy nhà. Bệnh viện ở ngay góc phố.)</td>
                </tr>
                <tr>
                    <td>Diễn tả những hành động ngắn đang xảy ra ở hiện tại (thường dùng trong kể chuyện hoặc bình luận thể thao)</td>
                    <td>He takes the ball, he runs down the wing, and he scores!
                        (Anh ấy nhận bóng, chạy dọc cánh và ghi bàn!)</td>
                </tr>
                <tr>
                    <td> Miêu tả những đặc điểm, tính chất</td>
                    <td>I usually get up at six in the morning.
                        (Tôi thường thức dậy lúc 6 giờ sáng.)</td>
                </tr>

            </table>
            <div id="frequency-adverbs">
                <h3>Dấu hiệu nhận biết thì hiện tại đơn</h3>
                <p>Các mệnh đề (câu) sử dụng thì hiện tại đơn thường chứa các cụm từ/trạng từ chỉ tần suất như sau: </p>
                
                <ul>
                    <li>
                        <strong>Trạng từ chỉ tần suất:</strong> 
                        <em>Always (luôn luôn), usually (thường xuyên), seldom (hiếm khi), never (không bao giờ)...</em>
                    </li>
                    <li>
                        <strong>Every + [mốc thời gian]:</strong> 
                        every day <em>(mỗi ngày)</em>, every month <em>(mỗi tháng)</em>, 
                        every year <em>(mỗi năm)</em>, every weekend <em>(mỗi cuối tuần)</em>, 
                        every holiday <em>(mỗi kỳ nghỉ lễ)</em>
                    </li>
                    <li>
                        <strong>Once/Twice a day/week/month/year:</strong> 
                        <em>(Một lần/Hai lần một ngày/tuần/tháng/năm)</em>.
                    </li>
                    <li>
                        <strong>[Số đếm, trừ 1 và 2] + times + a day/week/month/year:</strong> 
                        three times a week <em>(ba lần một tuần)</em>, 
                        four times a year <em>(bốn lần một năm)</em>...
                    </li>
                </ul>
            </div> 
            <h3>Cách dùng thì hiện tại đơn</h3>
            <table>
                <tr><th>Thể</th><th>Công thức</th></tr>
                <tr><td>Khẳng định</td><td>S + V(s/es) + O</td></tr>
                <tr><td>Phủ định</td><td>S + do/does + not + V-inf + O</td></tr>
                <tr><td>Nghi vấn</td><td>Do/Does + S + V-inf + O?</td></tr>
            </table>

        </section>

        <section id="present_continuous" class="tense">
            <h2>Present Continuous (Hiện tại tiếp diễn)</h2>
            <h3>Cách sử dụng</h3>
            <p>Thì hiện tại tiếp diễn (Present Continuous Tense) dùng diễn tả những sự việc xảy ra ngay lúc chúng ta nói hay xung quanh thời điểm chúng ta nói, và hành động đó vẫn còn tiếp tục diễn ra (chưa chấm dứt)..</p>
            <table>
                <tr>
                    <th>Cách dùng</th>
                    <th>Ví dụ</th>
                </tr>
                <tr>
                    <td>Diễn tả sự việc đang xảy ra trong thời điểm hiện tại.</td>
                    <td>I am watching a movie right now.
                        (Tôi đang xem phim bây giờ.)</td>
                </tr>
                <tr>
                    <td>Diễn tả một hành động sẽ xảy ra trong tương lai gần, thường là đề cập về kế hoạch đã được lên lịch sẵn từ trước.</td>
                    <td> My brother is flying to Singapore tomorrow.
                        (Anh tôi sẽ bay đến Singapore vào ngày mai.)</td>
                </tr>
                <tr>
                    <td>Diễn tả sự việc mang tính chất tạm thời. </td>
                    <td>TShe often goes to work by car, but this week her car breaks down so she is going to work by train.
                        (Cô ấy thường đi làm bằng xe ô tô, nhưng tuần này xe ô tô của cô ấy bị hỏng nên cô ấy đi tàu tới chỗ làm.)</td>
                </tr>
                <tr>
                    <td>Dùng khi than phiền về một hành động, sự việc lặp đi lặp lại và thường đi kèm những trạng từ/cụm từ diễn tả tần suất cao (always, all the time, usually…)</td>
                    <td>My mother is always telling me to clean my room!
                        (Mẹ tôi luôn nói tôi dọn dẹp phòng của tôi!)</td>
                </tr>
                <tr>
                    <td>Diễn tả sự khác biệt ngày trước và bây giờ (mô tả sự đổi mới).</td>
                    <td>Almost all people are using vehicles instead of walking. 
                        (Hầu hết mọi người dùng phương tiện thay vì đi bộ.)</td>
                </tr>
            </table>
            <div id="frequency-adverbs">
                <h3>Dấu hiệu nhận biết thì hiện tại tiếp diễn</h3>
                <p>Để nhận biết thì hiện tại tiếp diễn, các mệnh đề (câu) thường chứa các từ/cụm từ như sau.</p>
                
                <ul>
                    <li>
                        <strong>Các từ/cụm từ có nghĩa “hiện tại”:</strong> 
                        <em>now (bây giờ), right now (ngay bây giờ), at the/this moment (tại thời điểm này)...</em>
                    </li>
                    <li>
                        <strong>Các từ/cụm từ chỉ khoảng thời gian gần đây (thời điểm nói):</strong> 
                        these days <em>(dạo này)</em>, currently <em>(hiện nay)</em>, 
                        this week <em>(tuần này)</em>, 
                        <span class="highlight">this month <em>(tháng này)</em></span>...
                    </li>
                    <li>
                        <strong>Các mốc thời gian trong tương lai gần:</strong> 
                        this weekend <em>(cuối tuần này)</em>, tonight <em>(tối nay)</em>, 
                        at the end of this year <em>(vào cuối năm nay)</em>...
                    </li>
                    <li>
                        <strong>Động từ gây sự chú ý:</strong> 
                        Look!/watch <em>(Nhìn kìa)</em>, Listen! <em>(Nghe này)</em>, 
                        Keep silent! <em>(Im lặng)</em>, 
                        Watch out!/Look out! <em>(Coi chừng).</em>
                    </li>
                </ul>
            </div>
            <h3>Cách dùng</h3>

            <table>
                <tr><th>Thể</th><th>Công thức</th></tr>
                <tr><td>Khẳng định</td><td>S + am/is/are + V-ing + O</td></tr>
                <tr><td>Phủ định</td><td>S + am/is/are + not + V-ing + O</td></tr>
                <tr><td>Nghi vấn</td><td>Am/Is/Are + S + V-ing + O?</td></tr>
            </table>
        </section>

        <section id="present_perfect" class="tense">
            <h2>Present Perfect (Hiện tại hoàn thành)</h2>
            <h3>Cách sử dụng</h3>
            <p>Thì hiện tại hoàn thành (Present Perfect Tense) dùng diễn tả một sự việc, hành động đã bắt đầu từ trong quá khứ, kéo dài tới hiện tại và có thể tiếp tục tiếp diễn trong </p>
            <table>
                <tr><th>Cách dùng</th><th>ví dụ</th></tr>
                <tr>
                    <td>Diễn tả hành động đã được bắt đầu từ quá khứ nhưng vẫn kéo dài cho tới hiện tại và có thể vẫn tiếp diễn ở tương lai.</td>
                    <td>We have worked at this company since 2010.
                        (Chúng tôi đã làm việc cho công ty này từ 2010.)</td>
                </tr>
                <tr>
                    <td>Diễn tả một sự việc vừa mới xảy ra và đã kết thúc, thường đi kèm với trạng từ “just” (vừa mới).</td>
                    <td>Will Smith has just been banned from attending the Oscars for 10 years.
                        (Will Smith vừa bị cấm tham dự 
                        lễ trao giải Oscar trong 10 năm.)</td>
                </tr>
                <tr>
                    <td>Diễn tả kinh nghiệm, trải nghiệm cho đến hiện tại, thường đi kèm với các từ diễn tả số lần.</td>
                    <td>Leonardo DiCaprio has only won the Oscar once. 
                        (Leonardo DiCaprio mới chỉ đoạt giải Oscar một lần.)</td>
                </tr>
                <tr>
                    <td>Diễn tả một hành động trong quá khứ nhưng ảnh hưởng đến hiện tại</td>
                    <td>She can’t get in her car. She has lost her key.
                        (Cô ấy không thể vào được xe. Cô ấy đã làm mất chìa khóa.)</td>
                </tr>
            <table>
            <div id="frequency-adverbs">
                <h3>Dấu hiệu nhận biết thì hiện tại hoàn thành</h3>
                <p>Các mệnh đề (câu) sử dụng thì hiện tại hoàn thành thường chứa các từ/cụm từ như sau.</p>
                
                <ul>
                    <li><strong>Just/Recently/Lately.</strong></li>
                    <li><strong>Already/ Since/ Before/ Never/ Ever/ Yet.</strong></li>
                    <li>
                        <strong>Cụm từ So far = Until now = Up to now = Up to the present</strong> 
                        <em>(cho đến bây giờ).</em>
                    </li>
                    <li><strong>For + khoảng thời gian:</strong> for 5 years, for a long time, for a week...</li>
                    <li><strong>Since + mốc thời gian cụ thể:</strong> since 2023, since November...</li>
                    <li>
                        <strong>The first, second, third, fourth time...</strong> 
                        <em>(lần đầu tiên, lần thứ hai, lần thứ ba, lần thứ tư...)</em>
                    </li>
                </ul>
            </div>
            <h3>cách dùng</h3>
            <table>
                <tr><th>Thể</th><th>Công thức</th></tr>
                <tr><td>Khẳng định</td><td>S + have/has + V3/ed + O</td></tr>
                <tr><td>Phủ định</td><td>S + have/has + not + V3/ed + O</td></tr>
                <tr><td>Nghi vấn</td><td>Have/Has + S + V3/ed + O?</td></tr>
            </table>
        </section>
        <section id="present_perfect_ontinuous" class="tense">
            <h2>hiện tại hoàn thành tiếp diễn</h2>
            <h3>Cách sử dụng</h3>
            <p>Thì hiện tại hoàn thành tiếp diễn (Present Perfect Continuous Tense) dùng để chỉ hành động đã xảy ra trong quá khứ nhưng vẫn tiếp tục ở hiện tại và có khả năng tiếp diễn ở tương lai.  </p>
            <table>

            </table>
            <div id="frequency-adverbs">
                <h3>Dấu hiệu nhận biết</h3>
                <p>Các mệnh đề (câu) sử dụng thì hiện tại hoàn thành tiếp diễn thường chứa các từ/cụm từ như sau.</p>
                
                <ul>
                    <li><strong>Since + N</strong> <em>(mốc/ điểm thời gian không rõ ràng)</em></li>
                    <li><strong>For + N</strong> <em>(quãng thời gian)</em></li>
                    <li><strong>All + khoảng thời gian</strong></li>
                    <li><strong>For the whole + N</strong> <em>(chỉ thời gian)</em></li>
                </ul>
            </div>
            <h3>cách dùng</h3>
            <table>

            </table>
        </section>
        <section id="past_simple" class="tense">
            <h2>Past Simple (Quá khứ đơn)</h2>
            <h3>Cách sử dụng</h3>
            <p>Diễn tả hành động đã xảy ra và kết thúc trong quá khứ.</p>
            <div id="frequency-adverbs">
                <h3>Dấu hiệu nhận biết</h3>
                <li>Về dấu hiệu nhận biết, thì quá khứ đơn dùng trong câu có từ/cụm từ chỉ thời gian cụ thể trong quá khứ: yesterday (hôm qua), last night (đêm hôm trước), last year (năm trước), in 1995 (vào năm 1995)...</li>
                <li>Lưu ý rằng không có một quy tắc cụ thể để nhận biết thì Quá khứ đơn. Thông thường, dấu hiệu nhận biết được dựa trên từ ngữ và ngữ cảnh của câu. Vì vậy bạn cần chú ý xem xét yếu tố này để xác định thì Quá khứ đơn một cách chính xác.</li>
            </div>
            <table>
                <tr><th>Thể</th><th>Công thức</th></tr>
                <tr><td>Khẳng định</td><td>S + V2/ed + O</td></tr>
                <tr><td>Phủ định</td><td>S + did not + V-inf + O</td></tr>
                <tr><td>Nghi vấn</td><td>Did + S + V-inf + O?</td></tr>
            </table>
        </section>
        <section id="past_continuous" class="tense">
            <h2>Past Continuous(Qúa khứ tiếp diễn)</h2>
            <h3>Cách sử dụng</h3>
            <div id="frequency-adverbs"> 
                <h3>dấu hiệu nhận biết</h3>
            </div>
            <h3>cách dùng</h3>

        </section>
        <section id="past_perfect" class="tense">
            <h2>Past Perfect (quá khứ hoàn thành)</h2>
            <h3>cách sử dụng</h3>
            <div id="frequency-adverbs">
                <h3>dấu hiệu nhận biết</h3>
            </div>
            <h3>cách dùng</h3>
        </section>
        <section id="past_perfect_continuous" class="tense">
            <h2>Past Perfect Continuous (quá khứ hoàn thành tiếp diễn)</h2>
            <h3>cách sử dụng</h3>
            <div id="frequency-adverbs">
                <h3>dấu hiệu nhận biết</h3>
            </div>
            <h3>cách dùng</h3>
        </section>
        <section id="future_simple" class="tense">
            <h2>Future Simple (Tương lai đơn)</h2>
            <h3>cách sử dụng</h3>
            <div id="frequency-adverbs">
                <h3>dấu hiệu nhận biết</h3>
            </div>
            <h3>cách dùng</h3>
        </section>
        <section id="future_continuous" class="tense">
            <h2>Future Continuous (tương lai tiếp  diễn)</h2>
            <h3>cách sử dụng</h3>
            <div id="frequency-adverbs">
                <h3>dấu hiệu nhận biết</h3>
            </div>
            <h3>cách dùng</h3>
        </section>
        <section id="" class="tense"></section>
        <section id="" class="tense"></section>
        <section id="" class="tense"></section>
        <section id="" class="tense"></section>
    </main>
{% endblock grammar %}

