{% extends "dolphin/base.html" %}
{% load static %}
{% block listen %}

<h1> All topics</h1>
<div class="topics-container">
    {% for topic in topics %}
        <div class="topic-card">
            <img src="{% static topic.image %}" alt="{{ topic.title }}">
            <div class="topic-info">
                <a href="{% url topic.link %}" class="topic-title">{{ topic.title }}</a>
                <p>Levels: {{ topic.levels }}</p>
                <p>📖 {{ topic.lessons }} lessons</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock listen %}


        

