{% extends "dolphin/base.html" %}
{% load static %}
{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'dolphin/css/listen.css'%}?{% now 'U' %}">
{% endblock extra_css %}

<h1> All topics</h1>
<div class="topics-container">
    {% for topic in topics %}
        <div class="topic-card">
            <img src="{{ topic.image.url }}" alt="{{ topic.name }}">
            <div class="topic-info">
                <a href="{% url 'topic_detail' topic.slug %}" class="topic-title">{{ topic.name }}</a>
                <p>Levels: {{ topic.levels }}</p>
                <p>📖 {{ topic.lessons }} lessons</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}


        

