{% extends "dolphin/base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'dolphin/css/login.css'%}?{% now 'U' %}">
{% endblock extra_css %}
<div class="form-container">
    <h2 class="form-title">Login</h2>
    
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="input-group">
            {% if form.non_field_errors %}
            <ul class="errorlist">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
            <div style="font-weight: bold; padding-bottom: 3px;">Email</div>
            {{ form.username }}
            {% if form.username.errors %}
                <ul class="errorlist">
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div style="font-weight: bold; padding-bottom: 3px; padding-top: 3px;">Password</div>
            {{ form.password }}
            {% if form.password.errors %}
                <ul class="errorlist">
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>

        <button type="submit" class="btn-submit">Login</button>
    </form>

    <div class="divider">
        <span>OR</span>
    </div>

    <div class="google-btn-container">
        <a href="{% provider_login_url 'google' %}" class="google-btn">
            <img src="{% static 'dolphin/img/google-icon.png' %}" alt="Google logo" class="google-icon">
            Login with Google
        </a>
    </div>

    <p class="signup-link">
        Don't have an account? <a href="{% url 'register' %}">Sign up here</a>
    </p>
</div>

{% endblock content %}
