{% extends "dolphin/base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'dolphin/css/register.css'%}?{% now 'U' %}">
{% endblock extra_css %}
<div class="form-container">
    <h2 class="form-title">Create Your Account</h2>

    <!-- Hiển thị lỗi từ form -->
    {% if registerform.errors %}
        <div class="error-message">
            Please correct the errors below.
        </div>
    {% endif %}

    <form method="POST" class="register-form" autocomplete='off'>
        {% csrf_token %}

        <div class="input-group">
            <div style="font-weight: bold; padding-bottom: 3px;">Nickname</div>
            {{ registerform.nickname }}
            {% if registerform.nickname.errors %}
                <div class="error-message">
                    {{ registerform.nickname.errors|striptags }}
                </div>
            {% endif %}
        </div>

        <div class="input-group">
            <div style="font-weight: bold; padding-bottom: 3px;">Email</div>
            {{ registerform.email }}
            {% if registerform.email.errors %}
                <div class="error-message">
                    {{ registerform.email.errors|striptags }}
                </div>
            {% endif %}
        </div>

        <div class="input-group">
            <div style="font-weight: bold; padding-bottom: 3px;">Password</div>
            {{ registerform.password1 }}
            {% if registerform.password1.errors %}
                <div class="error-message">
                    {{ registerform.password1.errors|striptags }}
                </div>
            {% endif %}
        </div>

        <div class="input-group">
            <div style="font-weight: bold; padding-bottom: 3px;">Confirm Password</div>
            {{ registerform.password2 }}
            {% if registerform.password2.errors %}
                <div class="error-message">
                    {{ registerform.password2.errors|striptags }}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn-submit">Register</button>
    </form>
    
    <div class="divider">
        <span>OR</span>
    </div>

    <div class="google-btn-container">
        <a href="{% provider_login_url 'google' %}" class="google-btn">
            <img src="{% static 'dolphin/img/google-icon.png' %}" alt="Google logo" class="google-icon">
            Sign up with Google
        </a>
    </div>

    <p class="login-link">
        Already have an account? <a href="{% url 'login' %}">Login here</a>
    </p>
</div>

{% endblock content %}
